//COLOURS


$main-title-color:  #282828;
$color-white: #FFFFFF;
$sub-title-color: #707070;

$body-font-color: #737373;
$body-title-color: #1795ff;

$primary-color: #188CCF;
$secondary-color: #0D4879;


//FONT
$default-font-size: 18px;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;