.header {
        height: 98vh;
        //height: 1005px;
        //width: 1926px;
        background-image:
                url(../../img/top_right_blue.png), 
                url(../../img/top_left_squares.png),
                linear-gradient(
                to left bottom,
                #dee0e0,rgb(255,255,255));
        background-position: right top, left top;
        background-repeat: no-repeat, no-repeat;
        background-size: 620px 550px,200px 540px,cover;
        position: relative;


}

.text {

        margin-left: 220px;

        &_title {
                font-family: 'Ubuntu', sans-serif;
                font-weight: 300;
                font-size: 40px;
        }
}

.dashboard {
        margin-left: -50px;
        margin-top: -30px;
        position: relative;

        &_lap {
                position: absolute;
                &_img {
                        width: 500px;
                        height: 300px;
                }
        }

        &_mob {
                position: absolute;
                margin-top: 50px;
                margin-left: 356px;
                &_img {
                        width: 130px;
                        height: 250px;
                }
        }
}

.MacBook {
        background-image: url("MacBook.png");
        position: absolute;
        left: 916px;
        top: 280px;
        
        z-index: 155;
      }
      