.about {
    //position: relative;

    text-align: center;
    
   // margin-top: 60px;
    //margin-left: 75px;
    
    &_img {
      //  position: absolute;
        height: 390px;
        width: auto;
        
    }
}

