.section_why_tradebuk {
   padding: 155px 100px 0px 150px;
    background-image:
                url(../../img/Vector_Smart_Object.png),
                url(../../img/squares_bg.png),
                url(../../img/grey_box_1.png);
    background-position: right -340px bottom,left top 130px, left bottom;
    background-repeat: no-repeat,no-repeat,no-repeat;
    background-size: 470px,100px,1200px 550px;
    position: relative;           
    
}


.how_it_work {
    background-color: $body-title-color;
    background-image:url(../../img/Vector_Smart_Object_copy_2.png),url(../../img/Vector_Smart_Object_copy_2.png);
    background-position: left bottom, right -500px bottom -130px;
    background-repeat: no-repeat, no-repeat;
    background-size: 270px, 700px;
}

